<!DOCTYPE html>
<html>
   <head>
      <title>forsite</title>
      <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
      <link type="text/css" rel="stylesheet" href="https://portal.getforsite.com/html/template/style.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <style cx-define-slot='style'></style>
   </head>
   <body>
      <div>
         <div  cx-replace-outer="true" cx-url='{{server:forsite}}/html/menu?basepath={{server:basepath}}&url={{url:pathname}}&authentication_token={{query:authentication_token}}'></div>
      </div>
      <div cx-define-slot='content' class="content-container">
      </div>
      <div cx-define-slot='externalscript'>
      </div>
      <script cx-define-slot='script' type="text/javascript"></script>
      <div id="ajax-shield">
         <div id="loader"></div>
      </div>
      <script type="text/javascript">
         var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"8afa84315aecea24c0c032c6ee42c6e051226fe1a757a351b68ee852a5a6949d37528bacbd4523ff00bf9cad46aed610", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
      </script>
   </body>
</html>
