<!DOCTYPE html>
<html>
   <head>
      <title>Sites</title>
      <style cx-define-slot='styles'></style>
   </head>
   <body>
        <div cx-replace-outer="true" cx-url='{{server:forsite}}/html/menu?basepath={{server:basepath}}&url={{url:pathname}}&authentication_token={{query:authentication_token}}'>
        </div>

        <div cx-define-slot='breadcrumb'>
        </div>

        <div cx-define-slot='content'>
        </div>

        <div cx-define-slot='pagination'>
        </div>
   </body>
</html>
